.bg-lightgrey{
  background-color: rgb(229,229,229);
}
.bg-indaco{
  background-color: rgb(22,91,186);
}
.fs-9{
  font-size: .9em;
}

body{
  font-family: 'Roboto', sans-serif;
}
header{
  border: 1 px solid black;
  height: 70px;
  background-color: white;
}
.logo-container{
  height:70px;
  width: 60px;
}
header input{
  border: none;
  width: 100%;
}

header i{
  margin: 5px 10px;
}
.bell{
  color:rgb(255,143,0) ;
}







main{
  height: 85vh;
}

/* .container{
  border: 1px solid black;
}
.row{
  border: 1px solid black;
}
.col{
  border: 1px solid black;
} */

.menu{
  border: 1px solid black;
  width: 70px;
  background-image: url(/img/sidebar-bg.png );
  background-color: rgb(5,30,52);
}
.container-sc{
  
  border: 1px solid black;
}







@media screen and (min-width:768px){

}

@media screen and (min-width:992px){
  .menu{
    width:150px
  }
  .logo-container{
    width: 120px;
  }
}

